/* p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 100px;
    height: 100px;
    background-color: orange;
}

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
} */

.my-grid {
    display: grid;
    grid-template-columns: auto 100fr;
    grid-template-rows: auto 50px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 4px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 4px solid #E38C1E;
}
